<settings>
  <localRepository>${PWD}/artifacts/m2</localRepository>
   <mirrors>
    <mirror>
      <id>central-public-repository-group</id>
      <mirrorOf>central</mirrorOf>
      <name>Central Public Repository Group</name>
      <url>https://repo1.maven.org/maven2/</url>
    </mirror>
  </mirrors>
</settings>
